<html>
    <head><title>all inst</title></head>
    <body>
        {% if all_inst_list %}
<table border="1">
<tr>
<td width="200">Instance ID</td>
<td width="200">FullDomainName</td>
<td width="200">Public IP</td>
<td width="200">Private IP</td>
</tr>
            {% for inst in all_inst_list %}
            <tr>
            <td><a href="/slsync/{{inst.id}}/">{{inst.inst_id}}</a></td>
            <td>{{inst.fulldomainname}}</td>
            <td>{{inst.pub_ip}}</td>
            <td>{{inst.pri_ip}}</td>
            </tr>
            {% endfor %}
</table>
    {% else %}
    <p>No inst available.</p>
    {% endif %}
</body>
</html>
